{% extends "base.html" %} {% block head_ex %}
<title>活动详情————{{ac.topic}}</title>
{% endblock head_ex %} {% block body %}


<style>
    .panel {
        margin-top: 80px;
        line-height: 30px;
        letter-spacing: 3px;
        font-family: 楷体;
        font-size: 18px;
        padding: 10px;
    }
    
    .topic {
        font-size: 30px !important;
    }
</style>
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 class="panel-title topic">{{ac.topic}}</h1>
        </div>
        <div class="panel-body">
            {% load markdown_deux_tags %}
            <p>{{ac.text|markdown}}</p>
        </div>
        <div class="panel-footer panel-primary">此次活动由：{{ac.holder}}主持举办</div>
    </div>
</div>


{% endblock body %}