{% extends "base.html"  %}
{% block body  %}
<title>BGk情感频</title>
<body>
    
    <!-- Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <p class="intro-text">用来存放和展示BGk情感频的一草一木</p>
                    <div class="col-md-8 col-md-offset-2">

                        <p style="align-content:center;font-family:'KaiTi';font-size:20px;text-align:center;border:solid">每天一句</p>
                        <p class="intro-text" style="color:chartreuse;font-family:KaiTi">每天欣赏一句伤感话语，找回内心深处的自己</p>
                        <p class="intro-text" style="color:aqua;font-family:KaiTi">↓↓↓↓↓↓↓↓↓↓↓↓</p>
                        <p class="intro-text" style="background-color:aqua;font-family:STXingkai">{{juzi}}</p>
                    </div>
                    <div class="col-md-8 col-md-offset-2">

                        <p style="align-content:center;font-family:'KaiTi';font-size:20px;text-align:center;border:solid">每月一听</p>
                        <p class="intro-text" style="color:chartreuse;font-family:KaiTi">月更列表</p>
                        {% for i in music %}
                        <div style="border:solid">
                        <p class="intro-text" style="color:chartreuse">{{i.date}}</p>
                        <p class="intro-text" style="color:chartreuse">{{i.topic}}</p>
                        <p class="intro-text" style="color:chartreuse">{{i.story|truncatechars:10}}</p> 
                        <a href="/tolisen-{{i.id}}.html">去欣赏</a>
                        </div>
                        {% endfor %}
                       <a href="allmusic/"> 查看所有 </a>
                    </div>
                    <div class="col-md-8 col-md-offset-2">

                        <p style="align-content:center;font-family:'KaiTi';font-size:20px;text-align:center;border:solid">情感频周更文章</p>
                        {% for i in wen %}
                        <p>文章{{i.id}}    {{i.date}}</p>/media/{{i.content}}
                        <a href="/media/{{i.content}}">点击下载</a>

                        <a href="/seeqinggan/{{i.id}}">细细品读</a>
                        <a href="seeallwenarticle/">查看所有文章</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
{% endblock %}