{% extends "base.html" %} {% load static %} {% block head_ex %}
<title>细细品味</title>
<!-- 引入音乐播放插件 参考自：http://www.htmleaf.com/jQuery/jquery-tools/201801044913.html -->

<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'musicplayer/css/htmleaf-demo.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'musicplayer/css/vpplayer.css' %}"> {% endblock head_ex %} {% block body %}
<style>
    #player {
        width: 800px;
        margin: 50px auto;
    }
</style>
<div class="container">
    <div class="back" style="margin-top: 30px;">
        <a href="javascript:history.go(-1)" class="glyphicon glyphicon-share-alt">返回</a>
    </div>

    <div class="musicplayer">
        <div class="htmleaf-container">
            <!--vpplayer音乐播放器-->
            <div id="player"></div>
            <div id="player2"></div>
        </div>
    </div>
    <script src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
    <script>
        window.jQuery || document.write('<script src="../../static/musicplayer/js/jquery-1.11.0.min.js"><\/script>')
    </script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/musicplayer/js/vpplayer.js"></script>
    <script>
        $(document).ready(function() {
            $("#player").vpplayer({
                src: "/media/{{music}}",
                trackName: "{{song_name}}",
                preloadMessage: "音乐正在赶来的路上......",
                playerColor: "black white",
                displayColor: "blue pink"
            });

        });
    </script>
    <!--vpplayer音乐播放器-->
    <style>
        .music_txt {
            color: black;
        }
        
        .music_topic {
            font-size: 30px;
        }
        
        .music_story {
            border: 2px #ece284 solid;
            background: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1567102709157&di=be9958edb27f51853603be79d8ecb753&imgtype=0&src=http%3A%2F%2Fwww.sj520.cn%2Fsc%2Fima%2F20160911204740_91887.jpg") no-repeat;
            background-size: cover;
            border-radius: 20px;
            box-shadow: 10px 10px 5px #866d6d;
            margin: 50px auto;
        }
        
        .music_story>p {
            margin: 15px;
        }
    </style>
    <div class="music_txt">
        <div class="music_topic">
            <p>主题：{{song.topic}}</p>
            <p style="font-size:20px"><span class="glyphicon glyphicon-music"></span>歌曲：{{song_name}} </p>
        </div>
        <div class="music_story">
            {% load markdown_deux_tags %}
            <p>{{song.story|markdown}}</p>
        </div>
    </div>

</div>






{% endblock body %}


</html>