{% load static %}


<div style="border:dashed">
    <table  border="0" style="font-size:30px;text-align:center">
        <tr>
            <td class="daohang"><a href="/">首页</a></td>
            <td class="daohang"><a href="/qingganpin">BGk情感频</a></td>
            <td class="daohang"><a href="/gongzuoshi">视频颂-杲师自媒体工作室</a></td>
            <td class="daohang"><a href="/gongsi/xingfukuaile">幸福快乐有限公司</a></td>
            <td class="daohang"><a href="/gongsi" data-toggle="dropdown" class="dropdown-toggle">旗下公司  </a></td>
            <td class="daohang"><a href="/fankui">问题反馈</a></td>
        </tr>
    </table>
</div>
<style type="text/css">
    .daohang {
        width:200px;
        font-family:STKaiti;
        font-size:20px;
        

    }
</style>
 {% block body %}{% endblock %}
