{% load static %}


<div style="border:dashed">
    <table  border="0" style="font-size:30px;text-align:center">
        <tr>
            <td class="daohang"><a href="/">首页</a></td>
            <td wclass="daohang"><a href="/qingganpin">BGk情感频</a></td>
            <td class="daohang"><a href="/">视频颂</a></td>
            <td class="daohang"><a href="/gongsi" data-toggle="dropdown" class="dropdown-toggle">旗下公司  </a></td>
            <td class="daohang">&nbsp;</td>
        </tr>
    </table>
</div>
<style type="text/css">
    .daohang {
        width:200px
    }
</style>
 {% block body %}{% endblock %}
