{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>所有宠物</title>
    <script src="{% static 'js/jQuery.js' %}"></script>
    <script src="{% static 'bootlib/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootlib/css/bootstrap.css' %}">
</head>
<style>
    .zhizhu_img {
        width: 128px;
        height: 128px;
    }
    
    .all_title {
        font-family: '黑体';
        margin-top: 80px;
    }
    
    .one {
        margin: 10px 15px 10px 15px;
        border: 1px solid rgb(20, 180, 68);
        border-radius: 20px;
        box-shadow: 7px 7px 3px #b3e7ea;
        padding: 10px;
    }
</style>

<body>
    <div class="container">
        <div class="jumbotron all_title">
            <h2 class="text-center">幸福快乐有限公司所有宠物</h2>
        </div>
        <div class="allchongwu">
            <ul class="media-list">
                {% for i in zhizhu %}
                <div class="one col-xs-6 col-md-5">
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object zhizhu_img" src="/media/{{i.zhuimage}}" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{i.name}}</h4>
                            {{i.introduce|truncatechars:15}}
                            <span><a href="chongwuxiangqing{{i.id}}.html">查看详情</a></span>
                        </div>
                    </li>
                </div>
                {% empty %}
                <p>哇哦，宠物列表还没有更新哦</p>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>

</html>