{% extends "base.html" %} {% load static %} {% block head_ex %}
<title>幸福快乐有限公司</title>

<!-- <script src="https://kit.fontawesome.com/7ce203ea4e.js"></script> -->
<script src="../../static/fontawesome/icon.js"></script>
<!-- 引入轮播图插件 -->
<link rel="stylesheet" href="../../static/lunbotu/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../static/lunbotu/css/normalize.css" />
<link rel="stylesheet" href="../../static/lunbotu/css/styles.css">
<!-- 影响导航栏 -->
<!-- 引入轮播图插件结束 -->
{% endblock head_ex %} {% block body %}
<style>
    * {
        padding: 0;
        margin: 0;
    }
    
    .route {
        background-image: url(http://img3.redocn.com/tupian/20150606/huangseshuxiangmuwentietu_3761478.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        margin: 100px auto 0 auto;
        font-size: 25px;
    }
    
    .welcome>p {
        /* color: rgb(228, 231, 22); */
        color: rgb(15, 19, 22);
        font-size: 50px !important;
    }
    
    .jianjie {
        color: rgb(26, 24, 24);
        font-size: 20px;
    }
    
    .jianjie_txt {
        border: 2px solid rgb(23, 170, 170);
        border-radius: 20px;
        box-shadow: 7px 7px 3px #b3e7ea;
        display: none;
        margin-top: 20px;
        padding: 10px;
    }
</style>

<div class="container">

    <div class="welcome text-center">
        <p style="font-family:STXingkai;font-size:30px">你好，这里是幸福快乐有限公司</p>
    </div>
    <!-- 简介 -->
    <div class="jianjie">
        <p><i class="fas fa-paw"></i>公司简介</p>
        <script>
            $(function() {
                $('.jianjie_contral').click(function() {
                    $('.jianjie_txt').slideToggle(1000);
                    if ($(this).text() === '查看简介') {
                        $(this).text('收起简介');
                    } else {
                        $(this).text('查看简介');
                    }

                })
            })
        </script>
        <button class="jianjie_contral btn btn-primary btn-lg">查看简介</button> {% load markdown_deux_tags %}
        <p class="jianjie_txt">幸福快乐有限公司成立于2019年2月中旬，由公司创始人方总、王总提出，后陆续加入李总、林总公司资本逐渐壮大，拥有1000rmb的虚拟资金。本司目前处于起步阶段，主要从事自然环境监测研究以及多样物种宠物化等国际前沿技术项目中，并致力于把大自然带入每个人、每个家庭、每个组织，构建人与自然和谐相处的绿色世界。<br><br> 作为BGk天团的分支机构，本司未来将向自然教育与国际化物种互联方向发展，早日上市以壮大资本为BGk提供雄厚资源。
        </p>
    </div>

    <!-- 引入轮播图插件 -->
    <!-- 解决无js中无法使用模板for循环的问题 -->
    <style>
        .use {
            display: none;
        }
    </style>
    <div class="use">
        {% for i in zhizhu %}
        <div class="zhizhu{{forloop.counter0}} zhizhu">
            <div class="img">
                /media/{{i.zhuimage}}
            </div>
            <div class="order">
                {{i.id}}
            </div>
            <div class="url">
                chongwuxiangqing{{i.id}}.html
            </div>
            <div class="txt">
                {{i.name}}
            </div>
        </div>
        {% endfor %}
    </div>

    <style>
        .container_slid {
            text-align: center;
            width: 50%;
            min-height: 600px;
            padding-top: 50px;
            margin: 0 auto;
        }
        
        #allchongwu {
            color: rgb(26, 24, 24);
            font-size: 20px;
            margin-top: 15px;
        }
        
        .new {
            float: left;
            margin-top: 200px;
            font-size: 50px;
            font-family: 'Courier New', Courier, monospace;
        }
    </style>
    <p id="allchongwu">
        <i class="fas fa-spider"></i>公司宠物
    </p>
    <div class="htmleaf-container">
        <div class="new">
            <p>最新展示<span class="glyphicon glyphicon-hand-right"></span></p>
        </div>
        <div class="container_slid">
            <div class="slider" id="slider">
                <button type="button" class="button button-prev">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </button>
                <button type="button" class="button button-next">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </button>
            </div>
        </div>
    </div>

    <script src="../../static/videoplayer/js/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script>
        window.jQuery || document.write('<script src="../../static/lunbotu/js/jquery-2.1.1.min.js"><\/script>')
    </script>
    <script type="text/javascript" src="../../static/lunbotu/js/slider.js"></script>
    <!-- 引入轮播图插件 结束-->
    <div class="toseeall">
        <a href="allchongwu"><i class="fas fa-spider"></i>查看所有宠物</a>
    </div>

    <style>
        .toseeall {
            font-size: 25px;
        }
        
        .gudong {
            margin-bottom: 100px;
        }
        
        .footer {
            margin-top: 200px;
        }
        
        .gudong>p {
            color: rgb(26, 24, 24);
            font-size: 20px;
            margin-top: 15px;
        }
    </style>
    <div class="gudong">
        <p><i class="fas fa-spider"></i>股东组成</p>
        {% for i in gudong %}
        <div class="onegudong col-xs-6 col-md-5">
            <span class="lead glyphicon glyphicon-sunglasses">股东：{{i.name}}  </span>
            <span class="lead glyphicon glyphicon-usd">所持股份：{{i.own}}</span>
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{i.own}}">
                    <span class="sr-only">{{i.own}}</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="footer">
        BGk小站
    </div>
    {% endblock body %}